:root {
	--width-min: 828px;
	--width-max: 1242px;
}

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	font-family: sans-serif;
	display: grid;
	place-content: center;
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

/* container */
.container {
	width: clamp(var(--width-min), 62vw, var(--width-max));
	color: #f0f8ff;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 3.5rem;
	margin-left: 2rem;
}

h2 {
	font-size: 3.5rem;
}

h5 {
	font-size: 1.5rem;
}

/* header */
.navbar {
	display: flex;
	width: 100%;
	height: 9%;
	justify-content: space-between;
	align-items: center;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a:hover {
	color: #30cfd0;
	transition: color 0.382s ease;
}

a {
	color: aliceblue;
	text-decoration: none;
	padding: 1rem;
	display: block;
	font-size: 1.5rem;
}

/* main */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: clamp(var(--width-min), 62vw, var(--width-max));
}

.form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4rem;
	margin: 3rem 0px;
}

#search-city {
	height: 4rem;
	width: 30rem;
	border-radius: 4px;
	outline: none;
	border: none;
	background-color: aliceblue;
	color: gray;
	font-family: inherit;
	padding-left: 2rem;
	font-size: 1.75rem;
}

.bttn-search-city {
	height: 4rem;
	width: 10rem;
	background-color: aliceblue;
	border: none;
	outline: none;
	border-radius: 4px;
	color: gray;
	cursor: pointer;
	margin-left: 1rem;
	font-size: 1.75rem;
}

/* current container */
.currentContainer {
	display: grid;
	place-content: center;
	width: clamp(var(--width-min), 62vw, var(--width-max));
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.currentContainerInner {
	width: clamp(calc(var(--width-min) * 0.618), 62vw, calc(var(--width-max) * 0.618));
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.currentContainerInner * {
	margin: 0px;
	padding: 1rem;
	text-align: center;
	filter: drop-shadow(2px 2px 4px hsl(0, 0%, 0%, 0.38));
}

.current-temp {
	font-size: 6rem;
}

.current-desc {
	font-size: 2rem;
}

.current-high,
.current-low {
	font-size: 2rem;
}

/* hourly container */
.hourlyContainerInner {
	display: flex;
	width: clamp(var(--width-min), 62vw, var(--width-max));
	/* padding-right: 2rem; */
	flex-direction: column;
	justify-content: center;
	color: aliceblue;
	/* padding-left: 2rem; */
	height: 40rem;
}

.hourly-heading {
	margin-left: 7rem;
	margin-bottom: -1rem;
	font-size: 2rem;
}

.hourly-card {
	/* margin-right: 2rem; */

	outline: 1px solid darkcyan;
	display: flex;
	flex-direction: column;
	width: 20rem;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	height: 33rem;
	margin-left: -3rem;
	filter: drop-shadow(2px 2px 4px hsl(0, 0%, 0%, 0.38));
}

.hourly-icon {
	transform: scale(1);
	filter: drop-shadow(5px 5px 8px hsl(0, 0%, 0%, 0.62));
	margin-top: -0.5rem;
}

.hourly-temp {
	margin-top: auto;
	font-size: 2rem;
}

.hourly-ul {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
}

.hourly-ul li {
	display: block;
	list-style: none;
}

/* daily container */
.dailyContainerInner {
	position: relative;
	width: clamp(
		calc(var(--width-min) * 0.764) - 4rem,
		76.4vw,
		calc(var(--width-max) * 0.764)
	);
	margin-top: 4rem;
	display: grid;
	place-content: center;
}

.daily-heading {
	width: clamp(
		calc(var(--width-min) * 0.764) - 4rem,
		76.4vw,
		calc(var(--width-max) * 0.764)
	);
	margin-top: 7rem;
	margin-bottom: -5rem;
	padding-left: 1rem;
	font-size: 2rem;
}

.daily-card {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: clamp(
		calc(var(--width-min) * 0.764) - 6rem,
		76.4vw,
		calc(var(--width-max) * 0.764) - 6rem
	);
	margin-right: 4rem;
	padding: 0px 2rem;
	filter: drop-shadow(2px 2px 4px hsl(0, 0%, 0%, 0.38));
}

.daily-day {
	font-size: 2rem;
}

.daily-icon {
	transform: scale(1);
	filter: drop-shadow(5px 5px 8px hsl(0, 0%, 0%, 0.38));
}

.bttn-prev,
.bttn-next {
	display: flex;
	font-size: 2rem;
	align-items: center;
	justify-content: center;
	clip-path: circle();
	width: 3rem;
	height: 3rem;
	border: none;
	outline: none;
	color: aliceblue;
	transition: 0.246s ease;
	cursor: pointer;
	background: transparent;
}

.bttn-next:hover,
.bttn-prev:hover {
	background-color: hsl(0, 0%, 0%, 0.62);
}

.bttn-next {
	position: absolute;
	right: 0;
	top: calc(50% - (3rem / 2));
}

.bttn-prev {
	position: absolute;
	left: 0;
	top: calc(50% - (3rem / 2));
}
