html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

h1 {
	color: darkcyan;
}

.currentContainer {
	outline: 1px solid cornflowerblue;
}

.hourlyContainer {
	outline: 1px solid lightseagreen;
}

.dailyContainer {
	outline: 1px solid indigo;
}
